<a href="https://colab.research.google.com/github/jkky-98/airdeep-teamproject/blob/main/%EA%B8%B0%EC%83%81%EC%B2%AD_API.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# pip install --upgrade --user nbconvert

In [ ]:
from urllib.request import urlopen
from urllib.parse import urlencode, unquote, quote_plus
import urllib
import requests
import json
import pandas as pd

#기상청_지상(종관, ASOS)시간자료_조회서비스

In [ ]:
# Setting for URL parsing
url = 'http://apis.data.go.kr/1360000/AsosHourlyInfoService/getWthrDataList'

params = '?' + urlencode({
    quote_plus("serviceKey"): 'lq6n0tj9dXuCRO4ia6GfDNtqcolskcey90BQTo454rgEPPBLeRiDHYDgWmzHFlzYcgg6FVoDNGeynpwACMSMQw%3D%3D',      # 인증키
    quote_plus("numOfRows"): "10",          # 
    quote_plus("pageNo"): "1",              # 
    quote_plus("dataType"): "JSON",         # 
    quote_plus("dataCd"): "ASOS",           # 
    quote_plus("dateCd"): "HR",             # 
    quote_plus("startDt"): "20100101",      # 시작 날짜
    quote_plus("startHh"): "01",            # 시작 시간
    quote_plus("endDt"): "20100601",        # 끝 날짜
    quote_plus("endHh"): "01",              # 끝 시간
    quote_plus("stnIds"): "119"             # 예보지점 = 수원
    })

# URL parsing
req = urllib.request.Request(url + unquote(params))

# Get Data from API
response_body = urlopen(req).read() # get bytes data

# Convert bytes to json
data = json.loads(response_body)

# Result
res = pd.DataFrame(data['response']['body']['items']['item'])

In [ ]:
data = pd.DataFrame()
data['time'] = res['tm']        #시간
data['temp'] = res['ta']        #기온
data['humid'] = res['hm']       #습도
data['rain'] = res['rn']        #강수량
data['wind'] = res['wd']        #풍속
data['sunshine'] = res['ss']    #일조:태양이 지표면을 비친 시간
data['solar radiation'] = res['icsr'] #일사:지표면에 도달한 태양복사에너지

data

,time,temp,humid,rain,wind,sunshine,solar radiation
0,2010-01-01 01:00-10.4540-10.4540,-10.4,54,,0,,
1,2010-01-01 02:00-10.656270-10.656270,-10.6,56,,270,,
2,2010-01-01 03:00-11.056290-11.056290,-11.0,56,,290,,
3,2010-01-01 04:00-11.658290-11.658290,-11.6,58,,290,,
4,2010-01-01 05:00-12.8680-12.8680,-12.8,68,,0,,
5,2010-01-01 06:00-12.6650-12.6650,-12.6,65,,0,,
6,2010-01-01 07:00-13.5730-13.5730,-13.5,73,,0,,
7,2010-01-01 08:00-12.9721800.00.0-12.9721800.00.0,-12.9,72,,180,0.0,0.0
8,2010-01-01 09:00-11.5701800.80.2-11.5701800.80.2,-11.5,70,,180,0.8,0.2
9,2010-01-01 10:00-9.2591601.00.74-9.2591601.00.74,-9.2,59,,160,1.0,0.74

In [ ]:
data['Date'] = pd.to_datetime(data['time'], format='%Y.%m.%d %H:%M:%S', errors='raise')

ValueError: ignored